.product
{
    &:hover
    {
        .product-image { transform: scale(1.1); }
        .product-text-wrapper::before { top: 0px; }
        .product-text 
        { 
            padding-left: 8px !important; 
            color: $white; 
        }
        .rating {color: $white;}
    }

    .product-image-wrapper
    {
        overflow: hidden;

        .product-image
        {
            height: 320px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            transition: all 0.4s ease;
            transform: scale(1);
        }
    }

    .product-text-wrapper
    {
        position: relative;
        overflow: hidden;
        
        &::before
        {
            content: "";
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: -100%;
            background: $black;
            transition: all 0.4s ease;
        }

        .product-text 
        {
            position: relative;
            z-index: 2;
            padding: 8px;
            padding-left: 0px;
            transition: all 0.16s ease-out;

            >span 
            {
                display: block;

                &.product-title
                {
                    font-size: 20px;
                    font-weight: 600;
                }

                &.product-price
                {
                    font-size: 16px;
                }
            }
            
            .rating
            {
                position: relative;
                z-index: 1;

                i, svg
                {
                    color: $gold;
                }
            }
        }
    }
}